<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>list</title>

</head>

<body>

    <div class="box" id="heading">

        <h1>Todo List : </h1>
    </div>
    <div class="box">
        <% for(var i=0;i<newTodo.length;i++){ %>
            <form action="/delete" method="post">

                <div class="item">
                    <input type="checkbox" autocomplete="off" onchange="this.form.submit()" name="checkbox"
                        value="<%= newTodo[i]._id%>">
                    <p>
                        <%= newTodo[i].name %>
                    </p>
                </div>
            </form>
            <% } %>
                <form action="/" method="post" class="item">
                    <label for="input"></label>
                    <input type="text" placeholder="enter todo " name="inputTodo" id="inputTodo">
                    <button type="submit">+</button>

                </form>
    </div>


</body>

</html>